---
import Button from "@components/elements/button/button.astro";
import SmartImage from "@components/elements/smart-image/smart-image.astro";
import Spacer from "@components/elements/spacer/spacer.astro";
import Testimonial from "@components/typography/testimonial/testimonial.astro";
import ButtonGroup from "@components/wrappers/button-group/button-group.astro";
import Card from "@components/wrappers/card/card.astro";
import Container from "@components/wrappers/container/container.astro";
import Split from "@components/wrappers/split/split.astro";
const {
  image = "",
  imageAlt = "",
  quote = "",
  authorName = "",
  authorDescription = "",
  ctaText = "",
  ctaHref = "#",
  reverse = false,
  colorScheme = "default",
  border = false,
  class: className,
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_component")
);
---

<Container
  class:list={["case-study", className]}
  paddingHorizontal="lg"
  paddingVertical="lg"
  maxContentWidth="xl"
  {...htmlAttributes}
>
  <Card
    rounded={true}
    colorScheme={colorScheme}
    backgroundColor="base"
    border={border}
    style="border-radius: var(--radius-3xl);"
  >
    <Split
      distributionMode="fixed-flexible"
      minSplitWidth="750"
      fixedWidth="350"
      verticalAlignment="center"
      reverse={reverse}
      minSplitWidth="650"
    >
      <Fragment slot="first">
        <SmartImage
          data-prop-src="image"
          data-prop-alt="imageAlt"
          data-editable="image"
          source={image}
          alt={imageAlt || authorName}
          aspectRatio="square"
          widths={[190, 285, 570]}
          sizes="(min-width: 400px) 285px, 100vw"
        />
      </Fragment>
      <div slot="second" style="padding: var(--spacing-2xl);">
        <Testimonial
          text={quote}
          authorName={authorName}
          authorDescription={authorDescription}
          alignX="start"
          style="border:0;padding:0;"
        />
        <Spacer size="xl" />
        {
          ctaText && (
            <ButtonGroup direction="row" alignX="start">
              <Button
                text={ctaText}
                href={ctaHref}
                iconName="arrow-right"
                iconPosition="after"
                variant="tertiary"
              />
            </ButtonGroup>
          )
        }
      </div>
    </Split>
  </Card>
</Container>
