---
import RenderBlock from "@components/utils/renderBlock.astro";

const {
  contentSections,
  editable = true,
  index,
  uniqueId,
  _component,
  ...htmlAttributes
} = Astro.props;

const hasDefaultSlot = Astro.slots.has("default");
---

<div
  class="panel"
  id={`panel-${uniqueId}-${index}`}
  role="tabpanel"
  aria-labelledby={`tablabel-${uniqueId}-${index}`}
  aria-hidden={index !== 0}
  {...htmlAttributes}
>
  <div
    class="panel-content"
    data-editable={editable ? "array" : undefined}
    data-prop="contentSections"
  >
    <slot>
      {contentSections && <RenderBlock contentSections={contentSections} editable={editable} />}
    </slot>
  </div>
</div>

<style lang="pcss" is:global>
  @layer components {
    .panel {
      container-type: inline-size;
      animation: fade-in var(--animation-slow) ease-in-out forwards;
      display: none;
      padding: 0 var(--spacing-md);

      .panel-content > [data-editable="array-item"]:first-child > *:first-child,
      .panel-content > :not([data-editable="array-item"]):first-child {
        margin-top: 0 !important;
      }
    }
  }
</style>
