---
import RenderBlock from "@components/utils/renderBlock.astro";

const {
  contentSections,
  editable = true,
  index,
  uniqueId,
  _component,
  "data-children-prop": childrenDataProp = "contentSections",
  ...htmlAttributes
} = Astro.props;

const arrayDataAttributes = editable
  ? {
      "data-editable": "array",
      "data-children-prop": childrenDataProp,
    }
  : {};
---

<div
  class="panel"
  id={`panel-${uniqueId}-${index}`}
  role="tabpanel"
  aria-labelledby={`tablabel-${uniqueId}-${index}`}
  aria-hidden={index !== 0}
  {...htmlAttributes}
>
  <div class="panel__content" {...arrayDataAttributes}>
    <slot>
      {contentSections && <RenderBlock contentSections={contentSections} editable={editable} />}
    </slot>
  </div>
</div>

<style is:global>
  @layer components {
    .panel {
      animation: fade-in var(--animation-slow) ease-in-out forwards;
      container-type: inline-size;
      display: none;
      padding: 0 var(--spacing-md);

      > .panel__content > *:first-child {
        margin-top: 0 !important;
      }
    }
  }
</style>
