---
import StructuredData from "@components/utils/StructuredData.astro";
import MainNav from "@components/navigation/main-nav/main-nav.astro";
import seoData from "@data/seo.json";
import Button from "@components/elements/button/button.astro";
import Footer from "@components/navigation/footer/footer.astro";
import "@styles/style.pcss";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
  description?: string | null;
  keywords?: string[] | null;
  image?: string | null;
  canonical?: string | null;
  contentBlocks?: any;
}

const props = Astro.props;
const formattedTitle = seoData.defaultSeo.titleFormat.replace("{title}", props.title);
const pageDescription = props.description || seoData.defaultSeo.description;
const pageImage = props.image || seoData.defaultSeo.image;
---

<!doctype html>
<html lang="en" data-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script>
      if (window.inEditorMode) {
        import("../../live-editing");
      }
    </script>

    <SEO
      title={formattedTitle}
      description={pageDescription}
      openGraph={{
        basic: {
          title: formattedTitle,
          type: "website",
          image: pageImage,
        },
        optional: {
          description: pageDescription,
        },
      }}
      extend={{
        link: [
          {
            rel: "canonical",
            href: props.canonical || Astro.url.href,
          },
        ],
      }}
    />

    <StructuredData type="Organization" data={seoData.organization} />

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap-index.xml" />

    <slot name="head" />
  </head>
  <body>
    <MainNav
      logoAlt="Logo"
      logoSource="/src/assets/images/cc-logo.svg"
      navData={[
        {
          name: "Features",
          path: "#",
          children: [
            {
              name: "Performance",
              path: "/performance/",
              children: [],
            },
            {
              name: "Low Maintenance",
              path: "/low-maintenance/",
              children: [],
            },
          ],
        },
        {
          name: "Solutions",
          path: "#",
          children: [],
        },
        {
          name: "Support",
          path: "#",
          children: [],
        },
        {
          name: "Resources",
          path: "#",
          children: [],
        },
        {
          name: "Pricing",
          path: "#",
          children: [],
        },
      ]}
      buttonBlocks={[
        {
          _component: "elements/button",
          link: "#",
          variant: "ghost",
          size: "lg",
          text: "Search",
          iconName: "magnifying-glass",
          hideText: true,
        },
      ]}
      style="margin-block: 1rem; z-index: 50;"
    />
    <main>
      <slot />
    </main>
    <Footer
      logoSource="/src/assets/images/cc-logo.svg"
      logoAlt="Logo"
      links={[
        {
          name: "Home",
          path: "#",
        },
        {
          name: "Features",
          path: "#",
        },
        {
          name: "Solutions",
          path: "#",
        },
        {
          name: "Support",
          path: "#",
        },
        {
          name: "Resources",
          path: "#",
        },
        {
          name: "Pricing",
          path: "#",
        },
      ]}
      socials={[
        {
          icon: "social/facebook",
          link: "#",
        },
        {
          icon: "social/x",
          link: "#",
        },
        {
          icon: "social/instagram",
          link: "#",
        },
        {
          icon: "social/linkedin",
          link: "#",
        },
        {
          icon: "social/youtube",
          link: "#",
        },
      ]}
      footerText="© 2025 CloudCannon. All rights reserved."
    />
  </body>
</html>
